<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 pr-5 border-right">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-lg-6 ml-5">
      <div class="row mt-5">
        <h2>投稿を作成</h2>
      </div>
      <div class="row mt-3">
        <% if @post_content.errors.any? %>
          <ul class="list-unstyled">
            <li>
              <%= @post_content.errors.count %>件のエラーが発生しました
            </li>
            <% @post_content.errors.full_messages.each do |message| %>
              <li>⚠︎<%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <%= form_with model: @post_content do |f| %>
      <div class="row mt-3">
        <ul class="list-unstyled">
          <li>
            <label for="post_text inputlg"></label>
            <%= f.text_field :text, id: "post_text" %>
          </li>
          <li>
            <label for="post_image"></label>
            <%= f.file_field :image, id:"post_image", accept: "image/*" %>
          </li>
        </ul>
      </div>
      <div class="row mt-3">
        <%= f.submit "投稿する", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>