<div class="container">
  <div class="row mt-3">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="row mt-5">
        <h2><%= @end_user.name %>の会員情報編集</h2>
      </div>
      <div class="row mt-5">
        <ul class="list-unstyled">
          <%= form_with model: @end_user, id: "myForm", url: admin_end_user_path(@end_user.id) do |f| %>
          <li>
            会員ID <%= @end_user.id %>
          </li>
          <li>
            <%= f.label :ユーザ名 %>
          </li>
          <li>
            <%= f.text_field :name %>
          </li>
          <li>
            <%= f.label :メールアドレス %>
          </li>
          <li>
            <%= f.text_field :email %>
          </li>
          <li>
            <%= f.label :会員ステータス %>
          </li>
          <li>
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active_true, "有効" %>
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active_false, "退会" %>
          </li>
          <li>
            <%= f.submit "保存", class: "btn btn-primary"  %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<script>

// ラジオボタンの要素を取得
const radios = document.getElementsByName("end_user[is_active]")
// フォームのIDを取得
document.getElementById("myForm").addEventListener("submit", function(event) {
          let selectedValue = ""
          for (const radio of radios) {
              if (radio.checked) {
                  selectedValue = radio.value;
                  break;
              }
          }
          if(selectedValue === "true") { 
            return
          }
          const confirmation = window.confirm("本当に送信しますか？");
          if (!confirmation) {
              event.preventDefault(); // 送信をキャンセル
          }
      });
</script>