<h1>いいね一覧</h1>

<% @like_post_contents.each do |post_content| %>
  <%= link_to end_user_path(post_content.end_user.id) do %>
    <%= image_tag post_content.end_user.get_profile_image(100,100) %><br>
  <% end %>
  <%= link_to post_content_path(post_content.id) do %><br>
    <% if post_content.image.attached? %>
      <%= image_tag post_content.get_image(200,200) %>
    <% else %>
    <% end %>
    <%= post_content.text %>
  <% end %>
<% end %>