<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 pr-5 border-right">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-lg-5">
      <ul class="list-unstyled">
        <li>
          <h5><%= @end_user.name %></h5>
        </li>
        <li>
          <%= @end_user.post_contents.count %>件の投稿
        </li>
      </ul>
      <div class="plofile-image">
        <%= image_tag @end_user.get_profile_image(70,70), style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
      </div>
      <ul class="list-unstyled">
        <li>
          フォロー<%= link_to @end_user.followings.count, end_user_followings_path(@end_user), class: "text-dark mr-3" %>
          フォロワー<%= link_to @end_user.followers.count, end_user_followers_path(@end_user), class: "text-dark" %>
        </li>
        <li>
          <%= @end_user.introduction %>
        </li>
      </ul>
    </div>
    <div class="col-lg-4">
      <ul class="list-unstyled">
        <% if @end_user == current_end_user %>
        <li>
          <%= @random_message.idol %>
        </li>
        <li>
          <%= @random_message.message %>
        </li>
        <% else %>
        <% end %>
        <li>
          <%= link_to messages_path, class: "text-dark" do %>
            <i class="fa-solid fa-envelope"></i>
          <% end %>
        </li>
        <li>
          <% if current_end_user != @end_user %>
            <%= render 'end_user/follows/btn', end_user: @end_user, options: { class: ""} %>
          <% else %>
            <%= link_to "プロフィールを編集する", edit_end_user_path(@end_user), class: "btn btn btn-primary" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-3 col-sm-4 mx-auto">
    <%= link_to "いいね", likes_end_user_path(@end_user) %>
  </div>
</div>