<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 pr-5 border-right">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-lg-5 mx-auto">
      <ul class="list-unstyled">
        <li>
          <h5><%= @end_user.name %></h5>
        </li>
        <li>
          <%= @end_user.post_contents.count %>件の投稿
        </li>
      </ul>
      <div class="plofile-image">
        <%= image_tag @end_user.get_profile_image, style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
      </div>
      <ul class="list-unstyled">
        <li>
          フォロー<%= link_to @end_user.followings.count, end_user_followings_path(@end_user), class: "text-dark mr-3" %>
          フォロワー<%= link_to @end_user.followers.count, end_user_followers_path(@end_user), class: "text-dark" %>
        </li>
        <li>
          <%= @end_user.introduction %>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 float-right">
      <ul class="list-unstyled">
        <% if @end_user == current_end_user %>
        <li>
          <%= @random_message.idol %>
        </li>
        <li>
          <%= @random_message.message %>
        </li>
        <li>
          <%= link_to messages_path, class: "text-dark" do %>
            <i class="fa-solid fa-envelope fa-2x"></i>
          <% end %>
        </li>
        <% else %>
        <% end %>
        <li>
          <% if current_end_user != @end_user %>
            <%= render 'end_user/follows/btn', end_user: @end_user, options: { class: ""} %>
          <% else %>
            <%= link_to "プロフィールを編集する", edit_end_user_path(@end_user), class: "btn btn btn-primary" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-3 col-sm-4 mx-auto">
    <div class="row mt-5">
      <!-- タブとコンテンツの基本構造 -->
      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#section1">いいね</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section2">投稿</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="section1" class="tab-pane fade show active">
             <%= render 'end_user/end_users/likes', like_post_contents: @like_post_contents %>
          </div>
          <div id="section2" class="tab-pane fade">
            <% if @post_contents.empty? %>
              <h3>投稿はありません</h3>
            <% else %>
              <% @post_contents.each do |post_content| %>
                <ul class="list-unstyled">
                  <li>
                    <%= link_to end_user_path(post_content.end_user.id), class: "text-dark" do %>
                      <%= image_tag post_content.end_user.get_profile_image, style: "border-radius: 50%; width: 70px; height: 70px; object-fit:cover;" %>
                      <%= post_content.end_user.name %><br>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to post_content_path(post_content.id), class: "text-dark" do %>
                      <%= post_content.text %><br>
                      <% if post_content.image.attached? %>
                        <%= image_tag post_content.get_image, style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %><br>
                      <% else %>
                      <% end %>
                    <% end %>
                  </li>
                </ul>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>