<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="form-inline">
  <span class="border-bottom p-3">
    <%= link_to end_user_path(visitor), class: "text-dark" do %>
      <%= image_tag visitor.get_profile_image, style: "border-radius: 50%; width: 70px; height: 70px; object-fit:cover;" %>
      <strong><%= visitor.name %></strong>さんが
      <% case notification.action %>
        <% when 'follow' then %>
          <%= "あなたをフォローしました" %>
        <% when 'like' then %>
          <%= link_to 'あなたの投稿', notification.post_content, class: "text-dark" %>
          <%= "にいいねしました" %>
        <% when 'comment' then %>
          <% if notification.post_content.end_user_id == visited.id %>
            <%= link_to "あなたの投稿", notification.post_content, class: "text-dark" %>
            <%= "にコメントしました" %><br>
          <% else %>
            <span>
              <%= link_to post_content_path(notification.post_content) do %>
                <%= image_tag end_user_url(notification.post_content.end_user) %>
                <strong><%= notification.post_content.end_user.name + 'さんの投稿' %></strong>
                <%= "にコメントしました" %>
              <% end %>
            </span>
          <% end %>
          <%= Comment.find_by(id: notification.comment_id)&.comment %>・
          <%= time_ago_in_words(notification.created_at).upcase %>前
      <% end %>
    <% end %>
  </span>
</div>
