<ul class="list-unstyled">
  <li>
    <a class="navbar-brand p-3" href="/"><%= image_tag 'open_kdol_logo.jpg', style: "border-radius: 50%; width: 80px; height: 80px; object-fit:cover;" %></a>
  </li>
  <li>
    <h4 class="mt-5">
      <%= link_to timeline_index_path, class: "text-dark" do %>
        <i class="fa-solid fa-house mr-3"></i>ホーム
      <% end %>
    </h4>
  </li>
  <li>
    <h4 class="mt-5">
      <%= link_to end_user_path(current_end_user.id), class: "text-dark" do %>
        <i class="fa-solid fa-user mr-3"></i>プロフィール
      <% end %>
    </h4>
  </li>
  <li>
    <h4 class="mt-5">
      <%= link_to notifications_path, class: "text-dark" do %>
        <i class="fa-solid fa-bell mr-3"></i>通知
      <% end %>
    </h4>
  </li>
  <li>
    <h4 class="mt-5">
      <%= link_to new_post_content_path, class: "text-dark" do %>
        <i class="fa-solid fa-square-plus mr-3"></i>投稿する
      <% end %>
    </h4>
  </li>
  <li>
    <h4 class="mt-5">
      <%= link_to events_path, class: "text-dark" do %>
        <i class="fa-solid fa-calendar mr-3"></i>イベントカレンダー
      <% end %>
    </h4>
  </li>
  <li>
    <h4 class="mt-5">
      <%= link_to destroy_end_user_session_path, method: :delete, class: "text-dark" do %>
        <i class="fa-solid fa-right-from-bracket mr-3"></i>ログアウト
      <% end %>
    </h4>
  </li>
  <li>
    <h4 class="mt-5">
      <%= link_to end_users_confirm_path, class: "text-dark" do %>
        <i class="fa-regular fa-circle-xmark mr-3"></i>退会する
      <% end %>
    </h4>
  </li>
</ul>