<!DOCTYPE html>
<html>
  <head>
    <title>OpenKdol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %> <!--adminとend_userのヘッダー条件分岐 -->
        <% if request.fullpath.include? "/admin" %>
        <% else %>
        <% end %>
        <li>
          <%= form_with url: admin_root_path, method: :get do |f| %>
            <%= f.text_field :search, placeholder:"Search" %>
            <%= f.submit "ユーザを検索" %>
          <% end %>
        </li>
        <li>
          <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% elsif end_user_signed_in? %>
        <li>
          <%= form_with url: post_contents_path, method: :get do |f| %>
            <%= f.text_field :search_post_contents, placeholder:"Search" %>
            <%= f.submit "投稿を検索" %>
          <% end %>
        </li>
        <li>
          <%= form_with url: end_users_path, method: :get do |f| %>
            <%= f.text_field :search_end_users, placeholder:"Search" %>
            <%= f.submit "ユーザを検索" %>
          <% end %>
        </li>
        <li>
          <%= link_to "ホーム", post_contents_path %>
        </li>
        <li>
          <%= link_to "プロフィール", end_user_path(current_end_user.id) %>
        </li>
        <li>
          <%= link_to "会員ログアウト", destroy_end_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to "退会する", end_users_confirm_path %>
        </li>
        <li>
          <%= link_to "投稿する", new_post_content_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "会員新規登録", new_end_user_registration_path %>
        </li>
        <li>
          <%= link_to "会員ログイン", new_end_user_session_path %>
        </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
