<!DOCTYPE html>
<html>
  <head>
    <title>OpenKdol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/c13ccf5ef5.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <ul class="list-unstyled">
      <% if admin_signed_in? %> <!--adminとend_userのヘッダー条件分岐 -->
        <% if request.fullpath.include? "/admin" %>
        <% else %>
        <% end %>
        <li>
          <%= form_with url: admin_root_path, method: :get do |f| %>
            <%= f.text_field :search_end_users, placeholder:"Search" %>
            <%= f.submit "ユーザを検索" %>
          <% end %>
        </li>
        <li>
          <%= link_to "会員一覧", admin_root_path %>
        </li>
        <li>
          <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% elsif end_user_signed_in? %>
        <li>
          <%= form_with url: post_contents_path, method: :get do |f| %>
            <%= f.text_field :search_post_contents, placeholder:"Search" %>
            <%= f.submit "投稿を検索" %>
          <% end %>
        </li>
        <li>
          <%= form_with url: end_users_path, method: :get do |f| %>
            <%= f.text_field :search_end_users, placeholder:"Search" %>
            <%= f.submit "ユーザを検索" %>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to "会員新規登録", new_end_user_registration_path %>
        </li>
        <li>
          <%= link_to "会員ログイン", new_end_user_session_path %>
        </li>
      <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
